.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*{
  -webkit-box-sizing:boder-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-family: 'Rubik', sans-serif;
  text-rendering: optimizeLegibility;
}
body{
  padding: 0 35px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.container-fluid{
  max-width: 930px;
}
.section{
  padding: 60px 0px;
    position: relative;
}
#barraizq{
  position: fixed;
  height: 100%;
  width: 35px;
  left: 0;
  top:50%;
  background-color: white;
  z-index: 5;
}
.nav > li > a {
    padding: 28px 8px 8px 7px;
    width: 34px;
}
.nav,.navbar{
  position: relative;
}
.navbar-default{
  background-color: white;
  border:none;
}
.nav{
  width: 35px;
  overflow: hidden;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: white;
  width: 35px;
  max-width: 35px;  
    -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: zoomIn;
  animation-name: bounceIn;
}
.barraitem,.itemout{
  border-radius: 100%;
  width: 5px;
  height: 5px;
  display: block;
  background-color: black;

} 
.itemout{
  position: relative;
  left: 50%;  
  width: 9px;
  height: 9px;  
  background-color: white;
  border:1px solid black;
}
.barraitem{

  position: absolute;
  margin-top:1px; 
  margin-left:1px;
}
.navbar-default .navbar-nav > .active > a{

    padding: 8px -23px 8px 0px;
}
.navbar-default .navbar-nav > .active > a > .itemout > .barraitem{
  width: 7px;
  height: 7px;
  
  margin-top:2px; 
  margin-left:2px; 
}
.navbar-default .navbar-nav > .active > a > .itemout{
  width: 13px;
  height: 13px;
left: 50%;
}



.ulder{
      position: absolute;
    top: 50%;
    width: 36px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#barrader{
  position: fixed;
  height: 100%;
  top:0;
  width: 40px;
  right: 0;
  background-color: white;
  z-index: 5;
  display: block;
}
#barrader ul{
  list-style: none;
  color: black;
}


#parallax1{
  background: url(../images/portadax.jpg) fixed; 
  height: 300px; 
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover; 
}
#parallaxportada{
  background: url(../images/portada.jpg) fixed; 
  height: 100vh; 
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover; 
}
#fotosdiv{
  background: url(../images/DSC_0593x.jpg) fixed; 
  height: auto;
  min-height: 550px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover;
  background-position: 10% 20%;
  background-repeat: no-repeat; 
}
#fotosdiv.row .col-md-4{
  margin-bottom: 10px;
  position: relative; 

}

.gale{
  max-height: 190px;
}
figure {
    position: relative;
    display: inline-block;
}

figcaption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: rgba(32,12,56,.5);
    text-align: center;
    color: white;
}
figcaption p{
  top: 50%;
}

figure:hover img {
    opacity: .6;
}

figure:hover figcaption {
    display: block;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.heading{
  text-align: center;

}
.heading h1{
  font-weight: 500; 
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.link{
  right: 30px;
  bottom: 15px;
  background-color: #FFEB3B;
  color: black;
  position: absolute;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
#quiensoy{
  margin-top: 40px;
}
#quiensoy .row{
  padding: 60px 0px;
}
#redonda{
  max-height: 300px;
}
/******* Contacto ******/
#d{
  background-color: #FFEB3B;
  width: 100%;
  height: 400px;
  bottom: 0px;
  margin-bottom: 0px;
}

.conta{
  padding: 40px 0px;
    position: relative;
}
form{
    margin: 40px;
    position: relative;
}
.bc{
  position: absolute;
  left: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container,.container-fluid {
    max-width: 90%;
  }


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@media screen and (max-width: 480px) {
  #parallax1{
    height: 100px;
    background-position: center;
  }
}
