.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*{
  -webkit-box-sizing:boder-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid{
  max-width: 930px;
}
.section{
  padding: 80px 0px;
    position: relative;
}

#inicio {
    background-image: url(../images/portada.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

#parallax1{
  background: url(../images/portadax.jpg) fixed; 
  height: 300px; 
  position: relative;
  margin: 0 auto;
  padding: 5%;
  background-size: cover; 
}
/*** Nav ***/
.navbar{
  padding-top: 5px;
  height: 60px;
  background-color: #AFB42B;
}
.navbar-default .navbar-brand ,.navbar-default .navbar-nav > li > a{
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    font-weight: 600;
  background-color: #AFB42B;
  border-bottom: 4px solid #FF5722;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.heading{
  border-bottom: 3px solid #FF5722;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.link{
  right: 15px;
  background-color: #FF5722;
  color: white;
  position: absolute;
  margin-top: 15px;
  margin-bottom: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
  
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}
#quiensoy{
  margin-top: 40px;
}
#quiensoy .row{
  padding: 60px 0px;
}
#redonda{
  max-height: 300px;
}
/******* Contacto ******/
#d{
  background-color: #FF5722;
  width: 100%;
  height: 400px;
  bottom: 0px;
  margin-bottom: 0px;
}
#d .container-fluid .heading{
  color: white;
  border-bottom: 3px solid white;
}
.conta{
  padding: 40px 0px;
    position: relative;
}

.bc{
  position: absolute;
  right: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)!important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@media screen and (max-width: 480px) {
  #parallax1{
    height: 100px;
    background-position: center;
  }
}
